@using ProyectoIntegradorII.Models.ModelosCustom
@model ProyectoIntegradorII.Models.ModelosCustom.SoliCoach

@{
    var listado = new List<SelectListItem>()
    {
        new SelectListItem()
        {
            Text = "Seleccione una opción",
            Value = "-1",
            Selected = true,
            Disabled = true
        },
        new SelectListItem()
        {
            Text = "Referencia Estrategica",
            Value = "1"
        },
        new SelectListItem()
        {
            Text = "Coaching",
            Value = "2"
        }
    };
    var listado2 = new List<SelectListItem>()
    {
        new SelectListItem()
        {
            Text = "Seleccione una opción",
            Value = "-1",
            Selected = true,
            Disabled = true
        },
        new SelectListItem()
        {
            Text = "Individual",
            Value = "1"
        },
        new SelectListItem()
        {
            Text = "Paquete",
            Value = "2"
        }
    };
    var listado3 = new List<SelectListItem>()
    {
        new SelectListItem()
        {
            Text = "Seleccione una opción",
            Value = "-1",
            Selected = true,
            Disabled = true
        },
        new SelectListItem()
        {
            Text = "1",
            Value = "1"
        },
        new SelectListItem()
        {
            Text = "2",
            Value = "2"
        },
        new SelectListItem()
        {
            Text = "3",
            Value = "3"
        },
        new SelectListItem()
        {
            Text = "4",
            Value = "4"
        },
        new SelectListItem()
        {
            Text = "5",
            Value = "5"
        }
    };
    var listado4 = new List<SelectListItem>()
    {
        new SelectListItem()
        {
            Text = "Seleccione una opción",
            Value = "-1",
            Selected = true,
            Disabled = true
        },
        new SelectListItem()
        {
            Text = "1",
            Value = "1"
        },
        new SelectListItem()
        {
            Text = "2",
            Value = "2"
        },
        new SelectListItem()
        {
            Text = "3",
            Value = "3"
        }
    };

    
}

<!-- Modal Solicitar-->

<div class="modal fade" id="modalSolicitarCoach" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="lineaxd">
        <h5 class="modaltitulosoli" id="exampleModalLabel">SOLICITAR COACH</h5>
      </div>
      <div class="modal-body">


    <div id="solicitarcoach">
        <h2 class="h2modalcoach">Coach:</h2>
            <h2 class="h2modalcoachnombre" asp-for="coach">@ViewBag.coach</h2>
        <br />
        <br />
        <h2 class="h2modalcoachsesion">Tipo de Sesión:</h2>
            <div class="modalcoachsesiondes">
            @Html.DropDownList("sesion", listado , new { @class = "p-1 ml-1 text-center rounded-pill select-add-placeholder dropdown-toggle dropdown-toggle-split" })
            </div>
        <br />
        <br />
        <h2 class="h2modalcoachservicio">Tipo de Servicio:</h2>
            <div class="modalcoachserviciodes">
            @Html.DropDownList("servicio", listado2 , new { @class = "p-1 ml-1 text-center rounded-pill select-add-placeholder dropdown-toggle dropdown-toggle-split" })
            </div>
        <br />
        <br />
        <h2 class="h2modalprecio">Precio:</h2>
            <div class="modalpreciodes">
            @Html.TextBox("precio", (decimal)ViewBag.precio , new { disabled = "disabled", @class ="p-1 ml-1 rounded" })
            </div>
        <br />
        <br />
        <h2 class="h2modalcantsesiones">Cantidad de Sesiones:</h2>
            <div class="modalcantsesionesdes">
            @Html.DropDownList("cantsesiones", listado3, new { @class = "p-1 ml-1 text-center rounded-pill select-add-placeholder dropdown-toggle dropdown-toggle-split" })
            </div>
        <br />
        <br />
        <h2 class="h2modalcanthoras">Cantidad de Horas:</h2>
            <div class="modalcanthorasdes">
            @Html.DropDownList("canthoras", listado4, new { @class = "p-1 ml-1 text-center rounded-pill select-add-placeholder dropdown-toggle dropdown-toggle-split" })
            </div>
        <br />
        <br />
        <h2 class="h2modalcoachmonto">Monto:</h2>
            <div class="modalcoachmontodes">
            @Html.TextBox("monto", null , new { disabled = "disabled", type="number", @class ="p-1 ml-1 rounded" })
            </div>
        <br />
        <br />

        <div class="modal-footer">
        <button type="button" class="modalsoliaceptar" data-bs-toggle="modal" data-bs-target="#modalInsertarCliente">Siguiente</button>
        <button type="button" class="modalsolicancelar" data-bs-dismiss="modal" onClick = "cerrarModal()">Cancelar</button>
      </div>
    </div>
      </div>
    </div>
  </div>
</div>

<script>

    //REGLA DE NEGOCIO INDIVIDUAL
    $("#servicio").change(function () {
        if (document.getElementById('servicio').value == "1") {
            $("#cantsesiones").val(1);
            document.getElementById("cantsesiones").disabled = true;
            $("#canthoras").val(1);
            document.getElementById("canthoras").disabled = true;
        }
        if (document.getElementById('servicio').value == "2") {
            document.getElementById("cantsesiones").disabled = false;
            document.getElementById("canthoras").disabled = false;
        }
    });           
   
</script>
<script>
    $("#sesion").change(function () {
        if (document.getElementById('sesion').value == "1") {
            $("#servicio").val(1);
            document.getElementById("servicio").disabled = true;
            $("#cantsesiones").val(1);
            document.getElementById("cantsesiones").disabled = true;
            $("#canthoras").val(1);
            document.getElementById("canthoras").disabled = true;
        }
        if (document.getElementById('sesion').value == "2" && document.getElementById('servicio').value == "1") {
            document.getElementById("servicio").disabled = false;
            $("#cantsesiones").val(1);
            document.getElementById("cantsesiones").disabled = true;
            $("#canthoras").val(1);
            document.getElementById("canthoras").disabled = true;
        }
        if (document.getElementById('sesion').value == "2" && document.getElementById('servicio').value == "2") {
            document.getElementById("cantsesiones").disabled = false;
            document.getElementById("canthoras").disabled = false;
        }
    });      
</script>
<script>

    $(document).change(function(event){
      //Capturo el valor de cantSesiones,cantHoras y precio
      cantSesiones = $('#cantsesiones').val();
      cantHoras = $('#canthoras').val();
      precio = document.getElementById("precio").value;
      //Compruebo si alguno de los tres está vacío
      if(cantSesiones == "" || cantHoras == "" || precio == ""){
        //A la variable resultado le asigno el valor 0
        var resultado = 0;
      }else{
        //Si los tres ya tienen valor, hago operacion de los tres valores
        var resultado = parseInt(precio) * parseInt(cantSesiones) * parseInt(cantHoras);
      }
      //Muestro el resultado
        document.getElementById("monto").value = resultado;
    });  

</script>
